<div class="small-12 medium-4 columns" id="middle">
  <p><%= link_to 'Dashboard', dashboards_path %> > <%= @feed.title %></p>
  <% @unread.each do |entry| %>
    <%= link_to(feed_entry_path(@feed, entry.entry_id), remote: true) do %>
      <% if entry.entry_id.to_i == params[:id].to_i %>
        <div class="entry-nav active"><%= entry.entry_title %></div>
      <% else %>
        <% if entry.read %>
            <div class="entry-nav"><%= entry.entry_title %></div>
        <% else %>
          <div class="entry-nav-new"><strong><%= entry.entry_title %></strong></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </div>
