<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag 'favicon.png' %>

    <title><%= page_title %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>


  <% if controller.controller_name == 'entries' && controller.action_name == 'show' %>
    <body data-no-turbolink="true">
  <% else %>
    <body>
  <% end %>


    <header>
      <%= render 'layouts/navigation' %>
      <% if controller.controller_name == 'dashboards' && controller.action_name == 'dashfeed' || controller.controller_name == 'dashboards' && controller.action_name == 'grid'%>
        <%= render 'layouts/subnav' %>
      <% end %>
      <% if controller.controller_name == 'entries' && controller.action_name == 'show' %>
        <%= render 'layouts/subnav' %>
      <% end %>
    </header>
    <main role="main">

       <%= yield %>
    </main>

    <%= render 'layouts/messages' %>
  </body>




</html>
